<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<div id="idMainListadoCotizacionesReserva" style="margin-top: 50pt;">
		<div id="mainDetalleReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 10pt;>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloDetalleReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle reserva:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAReservar"></font></font>
				</div>
			</div>
			<div id="divVpDetalleReserva" style="margin-bottom: 0pt; font-size: 12px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="contenedorVPReserva">
					<div id="divDerechaCrearReserva" style="padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Fecha cotización:</label>
					    <input disabled id="fechaCotizacion" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>N° cotización:</label>
					    <input disabled id="numeroCotizacion" class="form-control"></input><!-- Pendiente -->
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>N° operación:</label>
					    <input disabled id="numeroOperacion" class="form-control"></input><!-- Pendiente -->
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Nombre cliente:</label>
					    <input id="reservaNombreCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Apellido cliente:</label>
					    <input id="reservaApellidoCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Rut:</label>
					    <input id="reservaRutCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Celular:</label>
					    <input id="reservaCelularCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					    <label>Email:</label>
					    <input id="reservaEmailCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 1</button>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente2"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 2</button>
					  </div>
					</div>
					<div id="divIzquierdaCrearReserva" style="padding-left: 0; padding-right: 0;   border-left-style: solid; border-left-width: 1px; border-left-color: #c1c1c1;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Fecha:</label>
					    <input disabled id="reservaFecha" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Reserva válida por:</label>
					    <input disabled id="reservaValidaPor" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Vendedor:</label>
					    <select disabled id="reservaVendedor" class="form-control custom">

							</select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input disabled id="reservaDepartamento" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Tipología:</label>
					    <input disabled id="reservaTipologiaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Modelo:</label>
					    <input disabled id="reseervaModeloDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Orientación:</label>
					    <input disabled id="reservaOrientacionDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodegas:</label>
					    <input disabled id="reservaCantidadBodegas" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamientos:</label>
					    <input disabled id="reservaCantidadEstacionamientos" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Utiles:</label>
					    <input disabled id="reservaMT2UtilesDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Terraza:</label>
					    <input disabled id="reservaMT2TerrazaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input disabled id="reservaMT2TotalDepto" class="form-control"></input>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div id="divIzquierdaCrearReserva" style="text-align: left; padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input id="departamentoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="departamentoMontoEditable" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodega:</label>
					    <input id="bodegaUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bodegaMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamiento:</label>
					    <input id="estacionamientoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="estacionamientoMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bono:</label>
					    <input id="bonoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bonoMontoEditable" disabled class="form-control"></input>
					  </div>

					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. sala:</label>
					    <input  id="desc1UFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="desc1Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="desc1Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. especial:</label>
					    <input id="desc2UFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="desc2Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="desc2Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="totalUnoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="totalUnoMontoEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div id="divDerechaCrearReserva" style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div id="divBodegasCrearReserva" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Bodegas:</label>
					    <select multiple="multiple" id="bodegasCrearReserva" name="bodegasCrearReserva[]">

					    </select>
					  </div>
					  <div id="divEstacionamientosCrearReserva" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Estacionamientos:</label>
					    <select multiple="multiple" id="estacionamientosCrearReserva" name="estacionamientosCrearReserva[]">

					    </select>
					  </div>
					  <div id="divObservacionCrearReserva" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Observación:</label>
					    <textarea rows="3" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt; max-height: 80px; height: 80px;" id="observacionCrearReserva" maxlength="2000"></textarea>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <font style="font-weight: bold;">Formas de pago</font>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Reserva:</label>
					    <input id="reservaUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Monto $:</label>
					    <input id="reservaMontoEditable" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Porcentaje:</label>
					    <input id="reservaPorcentajeEditable" disabled  class="form-control"></input>
					  </div>
					</div>

					<!--Campos nuevos -->
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago reserva:</label>
					    <select class="form-control custom" type="text" id="reservaFormaPago">

					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input id="reservaBanco" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input id="reservaSerie" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input id="reservaNro" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha cheque:</label>
					    <input id="reservaFechaCheque" type="text" class="form-control"></input>
					  </div>
					</div>
					<!-- Fin campos nuevos -->

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa contado:</label>
					    <input id="piePromesaUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="piePromesaMontoEditable"  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="piePromesaPorEditable" disabled  class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs col-lg-offset-6 col-md-offset-6">
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa cuotas:</label>
					    <input id="pieCuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="pieCuotasMontoEditable"  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="pieCuotasPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Cuotas:</label>
					    <input id="cuotasEditable" type="number" step="1" min="1" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="cuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="cuotasMontoEditable" disabled class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Saldo:</label>
					    <input id="saldoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="saldoMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="saldoPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs col-lg-offset-6 col-md-offset-6">
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="totalUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="totalMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="totalPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div style="text-align: left; margin-top: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  'Precios Montos en pesos $CH a UF <font id="valorUFDia"></font> corresponden como referencia al valor UF al <font id="fechaDia"></font>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarDetalleReserva" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpRegresarDetalleReserva" id="vpRegresarDetalleReserva"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpActualizarReserva" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpActualizarReserva" id="vpActualizarReserva"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Actualizar</button>
				</div>
				<div id="divVpPDFReservaCompra" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpPDFReservaCompra" id="vpPDFReservaCompra"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Reserva compra</button>
				</div>
				<div id="divVpPDFReservaFicha" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpPDFReservaFicha" id="vpPDFReservaFicha"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha</button>
				</div>
			</div>
		</div>
</div>
