<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoCotizacionesReserva tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoCotizacionesReserva').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonCotizacionesGenerarReserva").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonCotizacionesGenerarReserva").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoCotizacionesReserva" style="margin-top: 50pt;">
		<div id="mainListadoCotizacionesReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt; margin-top: 10pt;">
      <div id="divTituloListadoCotizacionesReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de cotizaciones a reservar</font>
      </div>
      <div id="divtablaListadoCotizacionesReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -15pt; height: 100%;">
			  <table id="tablaListadoCotizacionesReserva" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Forma</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Valor UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Vendedor</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Medio</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Visita</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Interés</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpotablaListadoCotizacionesReserva" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoCotizacionesReservaGenerarReserva" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonCotizacionesGenerarReserva" class="btn btn-primary" disabled>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Generar reserva
          </button>
        </div>
			</div>
    </div>
		<div id="mainCrearReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt; display: none;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloCrearReserva" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle reserva:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAReservar"></font></font>
				</div>
			</div>
			<div id="divVpCrearReserva" style="margin-bottom: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div style="display: none;" id="contenedorVPReserva">
				</div>
				<div style="display: none;" id="contenedorVPReservaCorretaje">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarCrearReserva" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpRegresarCrearReserva" id="vpRegresarCrearReserva"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpGuardarReserva" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpGuardarReserva" id="vpGuardarReserva"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Generar</button>
				</div>
				<div id="divVpPDFReservaCompra" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFReservaCompra" id="vpPDFReservaCompra"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Reserva compra</button>
				</div>
				<div id="divVpPDFReservaFicha" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFReservaFicha" id="vpPDFReservaFicha"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha</button>
				</div>
			</div>
		</div>
</div>
