<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoReservasPromesa tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoReservasPromesa').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonReservasGenerarPromesa").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonReservasGenerarPromesa").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoReservasPromesa" style="margin-top: 50pt;">
		<div id="mainListadoReservasPromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt; margin-top: 10pt;">
      <div id="divTituloListadoReservasPromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de reservas a promesar</font>
      </div>
      <div id="divtablaListadoReservasPromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -15pt; height: 100%;">
			  <table id="tablaListadoReservasPromesa" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro. Operación</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Vendedor</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpotablaListadoReservasPromesa" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoReservasPromesaGenerarPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonReservasGenerarPromesa" class="btn btn-primary" disabled>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Generar promesa
          </button>
        </div>
			</div>
    </div>
		<div id="mainCrearPromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt; display: none;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloCrearPromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle promesa:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAPromesar"></font></font>
				</div>
			</div>
			<div id="divVpCrearPromesa" style="margin-bottom: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div style="display: none;" id="contenedorVPPromesa">
				</div>
				<div style="display: none;" id="contenedorVPPromesaCorretaje">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarCrearPromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpRegresarCrearPromesa" id="vpRegresarCrearPromesa"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpGuardarPromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpGuardarPromesa" id="vpGuardarPromesa"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Generar</button>
				</div>
				<div id="divVpPDFPromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFPromesa" id="vpPDFPromesa"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha Promesa</button>
				</div>
			</div>
		</div>
</div>
