<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaComisionesEmpresa tbody').on( 'click', 'tr', function () {
		var table = $('#tablaComisionesEmpresa').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonCambiarEstadoComisionesEmpresa").attr("disabled","disabled");
		$("#buttonDatosPagoComisionesEmpresa").attr("disabled","disabled");
				// $("#buttonEliminarCotizaciones").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonCambiarEstadoComisionesEmpresa").removeAttr("disabled");
		$("#buttonDatosPagoComisionesEmpresa").removeAttr("disabled");
				// $("#buttonEliminarCotizaciones").removeAttr("disabled");
		}
	});

</script>

<div id="idMainComisionesEmpresa" style="margin-top: 65pt;">
	<div id="mainComisionesEmpresa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      	<div id="divTituloComisionesEmpresa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
        	<font style="margin-top: 15pt; font-size: 15pt; font-weight: bold; text-align:left;">Modulo Comisiones - </font><font style="margin-top: 15pt; font-size: 15pt; font-weight: bold; text-align:left;" id="operacionesProyectoEmpresa"></font><font style="font-style: italic;" id="textoUF"></font>
        	<input type="text" id="operacionesMesEmpresa" hidden disabled/><input type="text" id="operacionesAnoEmpresa" hidden disabled/>
	    </div>
    	<div id="divTablaComisionesEmpresa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%;">
			<table id="tablaComisionesEmpresa" class="display compact" style="height: 100%; width: 100%;">
				<thead>
			    	<tr>
				        <th class="celdaColor" style="border: 1pt solid white;">Oper.</th>
				        <th id="tipoUnCom" class="celdaColor" style="border: 1pt solid white;">Unidad.</th>
				        <th class="celdaColor" style="border: 1pt solid white;">EST</th>
				        <th class="celdaColor" style="border: 1pt solid white;">BOD</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Neto UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Fecha Promesa</th>
				        <th class="celdaColor" style="border: 1pt solid white;">% COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">UF COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">$ COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Fecha Escritura</th>
				        <th class="celdaColor" style="border: 1pt solid white;">% COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">UF COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">$ COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
			      	</tr>
			    </thead>
			    <tbody id="cuerpoTablaComisionesEmpresa" style="text-align: left;">

			    </tbody>
			    <tfoot>
			    	<th>Totales</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
			    </tfoot>
			</table>
		</div>
      <!-- Botones -->
      	<div>
	        <div id="divRegresarComisionesEmpresa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" class="btn btn-primary" name="vpRegresarComisionesEmpresa" id="vpRegresarComisionesEmpresa"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
	        </div>
	        <div id="divCambiarEstadoComisionesEmpresa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" disabled class="btn btn-primary" name="vpCambiarEstadoComisionesEmpresa" id="buttonCambiarEstadoComisionesEmpresa"><i clasS="fa fa-edit"></i>&nbsp;&nbsp;Cambiar Estado</button>
	        </div>
			<div id="divDatosPagoComisionesEmpresa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" disabled class="btn btn-primary" name="vpDatosPagoComisionesEmpresa" id="buttonDatosPagoComisionesEmpresa"><i clasS="fa fa-money"></i>&nbsp;&nbsp;Agregar Datos de Pago</button>
	        </div>
		</div>
    </div>
</div>
