<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoComisiones tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoComisiones').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        		$("#buttonVerComisionesVendedor").attr("disabled","disabled");
				// $("#buttonPDFCotizaciones").attr("disabled","disabled");
				// $("#buttonEliminarCotizaciones").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        		$("#buttonVerComisionesVendedor").removeAttr("disabled");
				// $("#buttonPDFCotizaciones").removeAttr("disabled");
				// $("#buttonEliminarCotizaciones").removeAttr("disabled");
		}
	});


</script>

<div id="idMainListadoComisiones" style="margin-top: 50pt;">
	<div id="mainListadoComisiones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      	<div id="divTituloListadoComisiones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        	<font style="font-size: 15pt; font-weight: bold; text-align:left;">Modulo Comisiones - Proyectos por Vendedor</font><font style="font-style: italic;" id="textoUF"></font>
	    </div>
    	<div id="divTablaListadoComisiones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%; margin-top: 15pt;">
			<table id="tablaListadoComisiones" class="display compact" style="height: 100%; width: 100%;">
				<thead>
			    	<tr>
				        <th class="celdaColor" style="border: 1pt solid white;">Nombre Vendedor</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Proyecto</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Total Promesa UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Total Promesa $</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Total Escritura UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Total Escritura $</th>
			      	</tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoComisiones" style="text-align: left;">

			    </tbody>
			    <tfoot>
			    		<th>Totales</th>
				        <th></th>
				        <th></th>
				        <th></th>
				        <th></th>
				        <th></th>
				        <th></th>
			    </tfoot>
			</table>
		</div>
      <!-- Botones -->
      	<div>
	        <div id="divListadoComisionesVerComisiones" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" id="buttonVerComisionesVendedor" class="btn btn-primary" disabled>
	            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Ver Comisiones
	          </button>
	        </div>
			<div id="divMostrarFiltroMesAno" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Año/Mes:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<select class="form-control custom" type="text" name="mostrarMesAnoComisiones" id="mostrarMesAnoComisiones">

		        </select>
				</div>
	        </div>
	        <div id="divMostrarProyectosComisiones" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Proyecto:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<select class="form-control custom" type="text" name="mostrarProyectosComisiones" id="mostrarProyectosComisiones">

		        </select>
				</div>
	        </div>
		</div>
    </div>
</div>
