<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoComisionesVendedor tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoComisionesVendedor').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonCambiarEstadoComisionesVendedor").attr("disabled","disabled");
				// $("#buttonPDFCotizaciones").attr("disabled","disabled");
				// $("#buttonEliminarCotizaciones").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonCambiarEstadoComisionesVendedor").removeAttr("disabled");
				// $("#buttonPDFCotizaciones").removeAttr("disabled");
				// $("#buttonEliminarCotizaciones").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoComisionesVendedor" style="margin-top: 50pt;">
	<div id="mainListadoComisionesVendedor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      	<div id="divTituloListadoComisionesVendedor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt; text-align:left;">
        	<font style="font-size: 15pt; font-weight: bold; text-align:left;">Modulo Comisiones - </font><font style="font-size: 15pt; font-weight: bold; text-align:left;" id="operacionesVendedor"></font> - <font style="font-size: 15pt; font-weight: bold; text-align:left;" id="operacionesProyecto"></font><font style="font-style: italic;" id="textoUF"></font>
        	<input type="text" id="operacionesRut" hidden disabled/><input type="text" id="operacionesMes" hidden disabled/><input type="text" id="operacionesAno" hidden disabled/>
	    </div>
    	<div id="divTablaListadoComisionesVendedor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%;">
			<table id="tablaListadoComisionesVendedor" class="display compact" style="height: 100%; width: 100%;">
				<thead>
			    	<tr>	         
				        <th class="celdaColor" style="border: 1pt solid white;">Oper.</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Depto.</th>
				        <th class="celdaColor" style="border: 1pt solid white;">EST</th>
				        <th class="celdaColor" style="border: 1pt solid white;">BOD</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Neto UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Fecha Promesa</th>
				        <th class="celdaColor" style="border: 1pt solid white;">% COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">UF COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">$ COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Fecha Escritura</th>
				        <th class="celdaColor" style="border: 1pt solid white;">% COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">UF COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">$ COM</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      	</tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoComisionesVendedor" style="text-align: left;">

			    </tbody>
			    <tfoot>
			    	<th>Totales</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
			    </tfoot>
			</table>
		</div>
      <!-- Botones -->
      	<div>
	        <div id="divRegresarComisionesVendedor" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" class="btn btn-primary" name="vpRegresarComisionesVendedor" id="vpRegresarComisionesVendedor"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
	        </div>
	        <div id="divCambiarEstadoComisionesVendedor" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" disabled class="btn btn-primary" name="vpCambiarEstadoComisionesVendedor" id="buttonCambiarEstadoComisionesVendedor"><i clasS="fa fa-edit"></i>&nbsp;&nbsp;Cambiar Estado</button>
	        </div>
<!-- 			<div id="divMostrarProyectosComisiones" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Proyecto:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<select class="form-control custom" type="text" name="mostrarProyectosComisiones" id="mostrarProyectosComisiones">

		        </select>
				</div>
	        </div> -->
		</div>
    </div>
</div>
