<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoProyectosDisponibles tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoProyectosDisponibles').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
				var datosCrear = $("#tablaListadoProyectosDisponibles");
				var datosCrear2 = $("#tablaListadoProyectosAsignados")
				var v1 = 0;
				var v2 = 0;
				var v = 0;
				$(datosCrear).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v1++;
					}
				});
				$(datosCrear2).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v2++;
					}
				});

				v = v1 + v2;

				if(v > 0){
					$("#desasignarProyectosLimpiar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosLimpiar").attr("disabled","disabled");
				}
				if(v1 > 0){
					$("#asignarProyectosAsignar").removeAttr("disabled");
				}
				else{
					$("#asignarProyectosAsignar").attr("disabled","disabled");
				}
		}
		else {
				$(this).toggleClass('selected');
				var datosCrear = $("#tablaListadoProyectosDisponibles");
				var datosCrear2 = $("#tablaListadoProyectosAsignados")
				var v1 = 0;
				var v2 = 0;
				var v = 0;
				$(datosCrear).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v1++;
					}
				});
				$(datosCrear2).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v2++;
					}
				});

				v = v1 + v2;

				if(v > 0){
					$("#desasignarProyectosLimpiar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosLimpiar").attr("disabled","disabled");
				}
				if(v1 > 0){
					$("#asignarProyectosAsignar").removeAttr("disabled");
				}
				else{
					$("#asignarProyectosAsignar").attr("disabled","disabled");
				}
		}
	});

	$('#tablaListadoProyectosAsignados tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoProyectosAsignados').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
				var datosCrear = $("#tablaListadoProyectosDisponibles");
				var datosCrear2 = $("#tablaListadoProyectosAsignados")
				var v1 = 0;
				var v2 = 0;
				var v = 0;
				$(datosCrear).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v1++;
					}
				});
				$(datosCrear2).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v2++;
					}
				});

				v = v1 + v2;

				if(v > 0){
					$("#desasignarProyectosLimpiar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosLimpiar").attr("disabled","disabled");
				}
				if(v2 > 0){
					$("#desasignarProyectosAsignar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosAsignar").attr("disabled","disabled");
				}
		}
		else {
				$(this).toggleClass('selected');
				var datosCrear = $("#tablaListadoProyectosDisponibles");
				var datosCrear2 = $("#tablaListadoProyectosAsignados")
				var v1 = 0;
				var v2 = 0;
				var v = 0;
				$(datosCrear).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v1++;
					}
				});
				$(datosCrear2).find('tr').each(function() {
					if($(this).hasClass('selected')){
						v2++;
					}
				});

				v = v1 + v2;

				if(v > 0){
					$("#desasignarProyectosLimpiar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosLimpiar").attr("disabled","disabled");
				}
				if(v2 > 0){
					$("#desasignarProyectosAsignar").removeAttr("disabled");
				}
				else{
					$("#desasignarProyectosAsignar").attr("disabled","disabled");
				}
		}
	});

</script>

<div id="idMainListadoProyectosAsignar" style="margin-top: 50pt;">
		<div id="mainListadoProyectosAsignar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoProyectosAsignarPrincipal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Asignación de proyectos: <i id="nombreUsuarioAsignarProyecto"></i></font>
      </div>
      <div id="largoTablasProyectosAsignar" style="margin-left: -10pt;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div id="divTituloListadoProyectosAsignarDisponibles" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
            <font style="font-size: 14pt;">Proyectos disponibles</font>
          </div>
          <div id="divTablaListadoProyectosDisponibles" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
    			  <table id="tablaListadoProyectosDisponibles" class="display compact" style="height: 100%; width: 100%;">
    			    <thead>
    			      <tr>
    			        <th class="celdaColor" style="border: 1pt solid white;">Codigo</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Inmobiliaria</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
    			      </tr>
    			    </thead>
    			    <tbody id="cuerpoTablaListadoProyectosDisponibles" style="text-align: left;">

    			    </tbody>
    			  </table>
    			</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div id="divTituloListadoProyectosAsignarAsignados" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
            <font style="font-size: 14pt;">Proyectos Asignados</font>
          </div >
          <div id="divTablaListadoProyectosAsignados" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
    			  <table id="tablaListadoProyectosAsignados" class="display compact" style="height: 100%; width: 100%;">
    			    <thead>
    			      <tr>
    			        <th class="celdaColor" style="border: 1pt solid white;">Codigo</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Inmobiliaria</th>
    			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
    			      </tr>
    			    </thead>
    			    <tbody id="cuerpoTablaListadoProyectosAsignados" style="text-align: left;">

    			    </tbody>
    			  </table>
    			</div>
        </div>
      </div>
      <!-- Botones -->
      <div>
        <div id="divAsignarProyectosAsignar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="asignarProyectosAsignar" class="btn btn-primary" disabled>
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;Asignar
          </button>
        </div>
        <div id="divDesasignarProyectosAsignar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="desasignarProyectosAsignar" class="btn btn-primary" disabled>
            <i class="fa fa-minus-square"></i>&nbsp;&nbsp;Desasignar
          </button>
        </div>
        <div id="divDesasignarProyectosLimpiar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="desasignarProyectosLimpiar" class="btn btn-primary" disabled>
            <i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Limpiar
          </button>
        </div>
        <div id="divRegresarProyectosAsignar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="regresarProyectosAsignar" class="btn btn-primary">
						<i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar
					</button>
				</div>
			</div>
    </div>
</div>
