<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainDetalleUsuario" style="margin-top: 50pt;">
		<div id="mainDetalleUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosDetalleUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Edición de usuario</font>
				</div>
			</div>
      <div id="datosDeDetalleUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosDetalleUsuario" style="text-align: left;">
        <!-- Datos personales -->
        <div id="divRutDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>RUT</label>
          <input disabled class="form-control" type="text" name="rutDetalleUsuario" id="rutDetalleUsuario"  style="margin-bottom: 5pt;" onblur="Rut();">
        </div>
        <div id="divApellidosDetalleUsuario" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Apellidos</label>
					<input disabled class="form-control" type="text" name="apellidosDetalleUsuario" id="apellidosDetalleUsuario"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNombresDetalleUsuario" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Nombres</label>
					<input disabled class="form-control" type="text" name="nombresDetalleUsuario" id="nombresDetalleUsuario"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEmailDetalleUsuario" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>E-Mail</label>
					<input disabled class="form-control" type="text" name="emailDetalleUsuario" id="emailDetalleUsuario"  style="margin-bottom: 5pt;" onblur="validacionEmail3();">
  			</div>
        <div id="divFonoDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono</label>
					<input disabled class="form-control" type="text" name="fonoDetalleUsuario" id="fonoDetalleUsuario"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divPerfilDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Perfil</label>
					<select disabled class="form-control custom" type="text" name="perfilDetalleUsuario" id="perfilDetalleUsuario"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divEstadoDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select disabled class="form-control custom" type="text" name="estadoDetalleUsuario" id="estadoDetalleUsuario"  style="margin-bottom: 5pt; width: 100%;">
						<option value="Activo">Activo</option>
						<option value="Bloqueado">Bloqueado</option>
					</select>
				</div>
			</form>
      </div>
      <!-- Botones -->
			<div id="botonesDetalleUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
				<div id="divEditarDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="editarDetalleUsuario" id="editarDetalleUsuario"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</button>
        </div>
        <div id="divGuardarDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="guardarDetalleUsuario" id="guardarDetalleUsuario" disabled><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
				<div id="divRegresarDetalleUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="regresarDetalleUsuario" id="regresarDetalleUsuario"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
			</div>
		</div>
</div>
