<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainDetalleUnidad" style="margin-top: 50pt;">
		<div id="mainDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;"><i id="nombreTituloDetalleUnidad"></i></font>
				</div>
			</div>
      <div id="datosDeDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosDetalleUnidad" style="text-align: left;">
				<!-- Datos Básicos -->
				<div id="divNumeroDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Número</label>
  				<input class="form-control" type="text" name="numeroDetalleUnidad" id="numeroDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divTipoDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Tipo</label>
					<select disabled class="form-control custom" type="text" name="tipoDetalleUnidad" id="tipoDetalleUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divAccionDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Acción</label>
					<select disabled class="form-control custom" type="text" name="accionDetalleUnidad" id="accionDetalleUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divEstadoDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select disabled class="form-control custom" type="text" name="estadoDetalleUnidad" id="estadoDetalleUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divPisoDetalleUnidad" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Piso</label>
  				<input class="form-control" type="text" name="pisoDetalleUnidad" id="pisoDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divOrientacionDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Orientación</label>
  				<input class="form-control" type="text" name="orientacionDetalleUnidad" id="orientacionDetalleUnidad"style="margin-bottom: 5pt;">
  			</div>
				<div id="divTipologiaDetalleUnidad" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Tipología</label>
					<select disabled class="form-control custom" type="text" name="tipologiaDetalleUnidad" id="tipologiaDetalleUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>


				<div id="divValorDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Valor en UF</label>
  				<input class="form-control" type="text" name="valorDetalleUnidad" id="valorDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantDormitoriosDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Dormitorios</label>
  				<input class="form-control" type="text" name="cantDormitoriosDetalleUnidad" id="cantDormitoriosDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantBanosDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Baños</label>
					<input class="form-control" type="text" name="cantBanosDetalleUnidad" id="cantBanosDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantidadEstacionamientosDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Estacionamientos</label>
					<input class="form-control" type="text" name="cantidadEstacionamientosDetalleUnidad" id="cantidadEstacionamientosDetalleUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divCantidadBodegasDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Bodegas</label>
					<input class="form-control" type="text" name="cantidadBodegasDetalleUnidad" id="cantidadBodegasDetalleUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divLogiaDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Logia</label>
  				<input class="form-control" type="text" name="logiaDetalleUnidad" id="logiaDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>

				<div id="divM2UtilDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 útil</label>
  				<input class="form-control" type="text" name="m2UtilDetalleUnidad" id="m2UtilDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2TerrazaDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 terraza</label>
					<input class="form-control" type="text" name="m2TerrazaDetalleUnidad" id="m2TerrazaDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2OtroDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 otro</label>
					<input class="form-control" type="text" name="m2OtroDetalleUnidad" id="m2OtroDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2TotalDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 total</label>
					<input class="form-control" type="text" name="m2TotalDetalleUnidad" id="m2TotalDetalleUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCodigoTipoDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Código tipo</label>
					<input class="form-control" type="text" name="codigoTipoDetalleUnidad" id="codigoTipoDetalleUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divImgUnidad">
					<div  id="divImgPlanoDetalleUnidad" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<label>Imagen plano</label>
						<div class="input-group">
		            <label class="input-group-btn">
		                <span disabled class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
		                    Examinar... <input type="file" id="imgPlanoDetalleUnidad" name="imgPlanoDetalleUnidad" accept="image/*" style="display: none;" multiple>
		                </span>
		            </label>
		            <input id="infoImgPlanoDetalleUnidad" type="text" class="form-control" readonly>
		        </div>
					</div>
					<div  id="divImgOtraDetalleUnidad" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<label>Imagen otra</label>
						<div class="input-group">
		            <label class="input-group-btn">
		                <span disabled class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
		                    Examinar... <input type="file" id="imgOtraDetalleUnidad" name="imgOtraDetalleUnidad" accept="image/*" style="display: none;" multiple>
		                </span>
		            </label>
		            <input id="infoImgOtraDetalleUnidad" type="text" class="form-control" readonly>
		        </div>
					</div>
					<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
						<label style="visibility: hidden;">Espacio</label>
						<input class="form-control" type="text" style="visibility: hidden; margin-bottom: 5pt;">
					</div>
				</div>

				<!-- Solo corretaje -->
				<div id="divSoloCorretaje">
					<div id="divTituloCorretajeDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 10pt; font-weight: bold;">
						<hr class="lineaSeparadora">
	          <font style="font-size: 15pt;">Solo corretaje</font>
	        </div>
					<div id="divDireccionDetalleUnidad" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<label>Dirección</label>
						<input class="form-control" type="text" name="direccionDetalleUnidad" id="direccionDetalleUnidad" style="margin-bottom: 5pt;">
					</div>
					<div id="divComunaDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Comuna</label>
						<input class="form-control" type="text" name="comunaDetalleUnidad" id="comunaDetalleUnidad" style="margin-bottom: 5pt;">
					</div>
					<div id="divDescripcion1DetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Descripción Propiedad Cotización (puede ingresar código HTML)</label>
						<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="descripcion1DetalleUnidad" id="descripcion1DetalleUnidad" maxlength="3000"></textarea>
	        </div>
					<div id="divDescripcion2DetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Información Interna (puede ingresar código HTML)</label>
						<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="descripcion2DetalleUnidad" id="descripcion2DetalleUnidad" maxlength="3000"></textarea>
	        </div>

					<div id="divComisionLVDuenoDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión VTA Dueño</label>
						<input class="form-control" type="text" name="comisionLVDuenoDetalleUnidad" id="comisionLVDuenoDetalleUnidad" placeholder="Comisión LV dueño" style="margin-bottom: 5pt;">
					</div>
					<div id="divComisionLVClienteDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión VTA Cliente</label>
						<input class="form-control" type="text" name="comisionLVClienteDetalleUnidad" id="comisionLVClienteDetalleUnidad" placeholder="Comisión LV cliente" style="margin-bottom: 5pt;">
					</div>
					<div id="divComisionVenDuenoDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión ARR Dueño</label>
						<input class="form-control" type="text" name="comisionVenDuenoDetalleUnidad" id="comisionVenDuenoDetalleUnidad" placeholder="Comisión Ven. dueño" style="margin-bottom: 5pt;">
					</div>
					<div id="divComisionVenClienteDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión ARR Cliente</label>
						<input class="form-control" type="text" name="comisionVenClienteDetalleUnidad" id="comisionVenClienteDetalleUnidad" placeholder="Comisión Ven. cliente" style="margin-bottom: 5pt;">
					</div>
					<div id="divTituloDatosVendedorDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 10pt; font-weight: bold;">
	          <font style="font-size: 13pt;">Datos vendedor</font>
	        </div>
					<div id="divRutVendedorDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Rut</label>
						<input class="form-control" type="text" name="rutVendedorDetalleUnidad" id="rutVendedorDetalleUnidad" style="margin-bottom: 5pt;" onblur="Rut7();">
					</div>
					<div id="divNombresVendedorDetalleUnidad" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<label>Nombres</label>
						<input class="form-control" type="text" name="nombresVendedorDetalleUnidad" id="nombresVendedorDetalleUnidad"  style="margin-bottom: 5pt;" onblur="validacionNombresVendedorDetalleUnidad();">
	  			</div>
	        <div id="divApellidosVendedorDetalleUnidad" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<label>Apellidos</label>
						<input class="form-control" type="text" name="apellidosVendedorDetalleUnidad" id="apellidosVendedorDetalleUnidad"  style="margin-bottom: 5pt;" onblur="validacionApellidosVendedorDetalleUnidad();">
	  			</div>
					<div id="divCelularVendedorDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Celular</label>
						<input class="form-control" type="text" name="celularVendedorDetalleUnidad" id="celularVendedorDetalleUnidad"  style="margin-bottom: 5pt;" maxlength="11">
	  			</div>
	        <div id="divEmailVendedorDetalleUnidad" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<label>E-Mail</label>
						<input class="form-control" type="text" name="emailVendedorDetalleUnidad" id="emailVendedorDetalleUnidad"  style="margin-bottom: 5pt;" onblur="validacionEmail7();">
	  			</div>
				</div>
			</form>
      </div>
      <!-- Botones -->
      <div id="botonesDetalleUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
				<div id="divEditarDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="editarDetalleUnidad" id="editarDetalleUnidad"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</button>
        </div>
        <div id="divGuardarDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="guardarDetalleUnidad" id="guardarDetalleUnidad" disabled><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
				<div id="divRegresarDetalleUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="regresarDetalleUnidad" id="regresarDetalleUnidad"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
      </div>
		</div>
</div>
