<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<div id="mainListadoPromesasEscritura" style="margin-top: 50pt;">
		<div id="mainDetalleEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 10pt;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloDetalleEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle escritura:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAEscriturar"></font></font>
				</div>
			</div>
			<div id="divVpDetalleEscritura" style="margin-bottom: 0pt; font-size: 12px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="contenedorVPEscritura">
					<div id="divDerechaCrearEscritura" style="padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Fecha promesa:</label>
					    <input disabled id="descritura_fechaPromesa" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>N° operación:</label>
					    <input disabled id="descritura_numeroOperacion" class="form-control"></input><!-- Pendiente -->
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Nombre cliente:</label>
					    <input id="reservaNombreCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Apellido cliente:</label>
					    <input id="reservaApellidoCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Rut:</label>
					    <input id="reservaRutCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Celular:</label>
					    <input id="reservaCelularCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					    <label>Email:</label>
					    <input id="reservaEmailCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 1</button>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente2"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 2</button>
					  </div>
					</div>
					<div id="divIzquierdaCrearEscritura" style="padding-left: 0; padding-right: 0;   border-left-style: solid; border-left-width: 1px; border-left-color: #c1c1c1;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Fecha:</label>
					    <input id="escrituraFecha" class="form-control"></input>
					  </div>
						<div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Vendedor:</label>
					    <select disabled id="escrituraVendedor" class="form-control custom">

							</select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input disabled id="escrituraDepartamento" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Tipología:</label>
					    <input disabled id="escrituraTipologiaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Modelo:</label>
					    <input disabled id="escrituraModeloDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Orientación:</label>
					    <input disabled id="escrituraOrientacionDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodegas:</label>
					    <input disabled id="escrituraCantidadBodegas" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamientos:</label>
					    <input disabled id="escrituraCantidadEstacionamientos" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Utiles:</label>
					    <input disabled id="escrituraMT2UtilesDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Terraza:</label>
					    <input disabled id="escrituraMT2TerrazaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input disabled id="escrituraMT2TotalDepto" class="form-control"></input>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div id="divIzquierdaCrearEscritura" style="text-align: left; padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input id="escritura_departamentoUF" disabled class="form-control"></input>
					  </div>

					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="descritura_departamentoMontoEditable" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodega:</label>
					    <input id="escritura_bodegaUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bodegaMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamiento:</label>
					    <input id="escritura_estacionamientoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="estacionamientoMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bono:</label>
					    <input id="escritura_bonoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bonoMonto" disabled class="form-control"></input>
					  </div>

					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. sala:</label>
					    <input  id="escritura_desc1UF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="descritura_desc1Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="descritura_desc1Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. especial:</label>
					    <input id="descritura_desc2UFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="descritura_desc2Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="descritura_desc2Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="totalUnoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="totalUnoMonto" disabled class="form-control"></input>
					  </div>
					</div>
					<div id="divDerechaCrearEscritura" style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div id="divBodegasCrearEscritura" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Bodegas:</label>
					    <select multiple="multiple" id="bodegasCrearEscritura" name="bodegasCrearEscritura">

					    </select>
					  </div>
					  <div id="divEstacionamientosCrearEscritura" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Estacionamientos:</label>
					    <select multiple="multiple" id="estacionamientosCrearEscritura" name="estacionamientosCrearEscritura">

					    </select>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <font style="font-weight: bold;">Formas de pago</font>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Reserva:</label>
					    <input id="escritura_reservaUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Monto $:</label>
					    <input disabled id="escritura_reservaMonto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Porcentaje:</label>
					    <input id="escritura_reservaPorcentaje" disabled  class="form-control"></input>
					  </div>
					</div>

					<!--Campos nuevos -->
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago reserva:</label>
					    <select disabled class="form-control custom" type="text" id="escritura_FormaPagoReserva">

					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input disabled id="escritura_BancoReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input disabled id="escritura_SerieReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input disabled id="escritura_NroReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha cheque:</label>
					    <input disabled id="escritura_FechaChequeReserva" type="text" class="form-control"></input>
					  </div>
					</div>
					<!-- Fin campos nuevos -->

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa contado:</label>
					    <input id="escritura_piePromesaUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_piePromesaMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_piePromesaPorEditable" disabled class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago promesa:</label>
					    <select class="form-control custom" type="text" disabled id="escritura_FormaPagoPromesa" >

					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input id="escritura_BancoPromesa" type="text" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input id="escritura_SeriePromesa" type="text" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input id="escritura_NroPromesa" type="text" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha pago:</label>
					    <input id="escritura_FechaChequePromesa" type="text" disabled class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa cuotas:</label>
					    <input id="escritura_pieCuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_pieCuotasMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_pieCuotasPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Cuotas:</label>
					    <input disabled style="display: none;" id="totalMontoCuotas"/>
					    <input id="escritura_cuotasEditable" disabled type="number" step="1" min="1" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0; display: none;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_cuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0; display: none;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_cuotasMontoEditable" disabled class="form-control"></input>
					  </div>
					</div>

					<div id="escritura_cantidadCuotas">

					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    <label>Diferencial UF:</label>
					    <input id="cuotaResidual" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago diferencial UF:</label>
					    <select class="form-control custom" type="text" id="cuotaResidualFormaPago">

					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input id="cuotaResidualBanco" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input id="cuotaResidualSerie" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input id="cuotaResidualNro" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha pago:</label>
					    <input id="cuotaResidualFechaCheque" type="text" class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Saldo:</label>
					    <input id="escritura_saldoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_saldoMontoEditable" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_saldoPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago escritura:</label>
					    <select class="form-control custom" type="text" id="escrituraFormaPago">

					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input id="escrituraBanco" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input id="escrituraSerie" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input id="escrituraNro" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha pago:</label>
					    <input id="escrituraFechaCheque" type="text" class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="escritura_totalUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_totalMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="escritura_totalPor" disabled class="form-control"></input>
					  </div>
					</div>
					<div style="text-align: left; margin-top: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  'Precios Montos en pesos $CH a UF <font id="valorUFDia"></font> corresponden como referencia al valor UF al <font id="fechaDia"></font>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarDetalleEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpRegresarDetalleEscritura" id="vpRegresarDetalleEscritura"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpActualizarEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpActualizarEscritura" id="vpActualizarEscritura"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Actualizar</button>
				</div>
				<div id="divVpPDFEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFEscritura" id="vpPDFEscritura"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha Escritura</button>
				</div>
			</div>
		</div>
</div>
