<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoEscrituras tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoEscrituras').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonVerEscritura").attr("disabled","disabled");
				$("#buttonCambiarEstadoEscritura").attr("disabled","disabled");
				$("#buttonEliminarEscritura").attr("disabled","disabled");
				$("#buttonSubirDocumentosEscritura").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonVerEscritura").removeAttr("disabled");
				$("#buttonCambiarEstadoEscritura").removeAttr("disabled");
				$("#buttonEliminarEscritura").removeAttr("disabled");
				$("#buttonSubirDocumentosEscritura").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoEscrituras" style="margin-top: 50pt;">
		<div id="mainListadoEscrituras" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoEscrituras" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de Escrituras</font>
      </div>
      <div id="divTablaListadoEscrituras" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoEscrituras" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			     	<th class="celdaColor" style="border: 1pt solid white;" title="Ficha cliente">FC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">F_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cotización">CO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CO_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha reserva">RE</th>
			        <th class="celdaColor" style="border: 1pt solid white;">RE_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cédula de identidad">CI</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CI_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Preaprobación bancaria">PB</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PB_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Carpeta cliente">CC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CC_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Comprobante pago reserva">CR</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CR_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha promesa">PR</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PR_RUTA</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Comprobantes pago promesa">CP</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CP_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Promesa firmada">PF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PF_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Poliza seguros">PS</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PS_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha escritura">ES</th>
			        <th class="celdaColor" style="border: 1pt solid white;">ES_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Escritura notarial">EN</th>
			        <th class="celdaColor" style="border: 1pt solid white;">EN_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Documento de entrega unidad">DE</th>
			        <th class="celdaColor" style="border: 1pt solid white;">DE_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;">IDUSUARIO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Email</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoEscrituras" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
			<div id="divListadoVerEscritura" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonVerEscritura" class="btn btn-primary" disabled>
					<i class="fa fa-info-circle"></i>&nbsp;&nbsp;Ver escritura
				</button>
			</div>
			<div id="divListadoSubirDocumentosEscritura" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonSubirDocumentosEscritura" class="btn btn-primary" disabled>
					<i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Subir documentos
				</button>
			</div>
			<div id="divListadoAutorizarEscritura" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonCambiarEstadoEscritura" class="btn btn-primary" disabled>
					<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Cambiar estado escritura
				</button>
			</div>
			<div id="divListadoEliminarEscritura" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonEliminarEscritura" class="btn btn-primary" disabled>
					<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
				</button>
			</div>
			<div id="divMostrarProyectoEscritura" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Proyecto:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<select class="form-control custom" type="text" name="mostrarProyectoEscritura" id="mostrarProyectoEscritura">

					</select>
				</div>
			</div>
    </div>
</div>
