<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoPromesasEscritura tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoPromesasEscritura').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonPromesasGenerarEscritura").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonPromesasGenerarEscritura").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoPromesasEscritura" style="margin-top: 50pt;">
		<div id="mainListadoPromesasEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt; margin-top: 10pt;">
      <div id="divTituloListadoPromesasEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de promesas a escriturar</font>
      </div>
      <div id="divtablaListadoPromesasEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -15pt; height: 100%;">
			  <table id="tablaListadoPromesasEscritura" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpotablaListadoPromesasEscritura" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoPromesasEscrituraGenerarEscritura" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonPromesasGenerarEscritura" class="btn btn-primary" disabled>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Generar escritura
          </button>
        </div>
			</div>
    </div>
		<div id="mainCrearEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt; display: none;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloCrearEscritura" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle escritura:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAEscriturar"></font></font> 
				</div>
			</div>
			<div id="divVpCrearEscritura" style="margin-bottom: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div style="display: none;" id="contenedorVPEscritura">
				</div>
				<div style="display: none;" id="contenedorVPEscrituraCorretaje">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarCrearEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpRegresarCrearEscritura" id="vpRegresarCrearEscritura"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpGuardarEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpGuardarEscritura" id="vpGuardarEscritura"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Generar</button>
				</div>
				<div id="divVpPDFEscritura" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFEscritura" id="vpPDFEscritura"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha Escritura</button>
				</div>
			</div>
		</div>
</div>
