<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainCrearCliente" style="margin-top: 50pt;">
		<div id="mainCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Creación de clientes</font>
				</div>
			</div>
      <div id="datosDeCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosCrearCliente" style="text-align: left;">
        <!-- Datos personales -->
        <div id="divTituloDatosPersonalesCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;">
          <font style="font-size: 14pt;">Datos personales</font>
        </div>
        <div id="divRutCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>RUT</label>
					<input class="form-control" type="text" name="rutCrearCliente" id="rutCrearCliente"  style="margin-bottom: 5pt;" onblur="verificaSiClienteExiste();">
  			</div>
        <div id="divNombresCrearCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Nombres</label>
					<input class="form-control" type="text" name="nombresCrearCliente" id="nombresCrearCliente"  style="margin-bottom: 5pt;" onblur="validacionNombresCrearCliente();">
  			</div>
        <div id="divApellidosCrearCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Apellidos</label>
					<input class="form-control" type="text" name="apellidosCrearCliente" id="apellidosCrearCliente"  style="margin-bottom: 5pt;" onblur="validacionApellidosCrearCliente();">
  			</div>
        <div id="divCelularCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Celular</label>
					<input class="form-control" type="text" name="celularCrearCliente" id="celularCrearCliente"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divEmailCrearCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>E-Mail</label>
					<input class="form-control" type="text" name="emailCrearCliente" id="emailCrearCliente"  style="margin-bottom: 5pt;" onblur="validacionEmail();">
  			</div>
        <div id="divDomicilioCrearCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Domicilio</label>
					<input class="form-control" type="text" name="domicilioCrearCliente" id="domicilioCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNumeroDomicilioCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Número domicilio</label>
					<input class="form-control" type="text" name="numeroDomicilioCrearCliente" id="numeroDomicilioCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divTipoDomicilioCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Nro. Depto/Casa</label>
					<input class="form-control" type="text" name="tipoDomicilioCrearCliente" id="tipoDomicilioCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divComunaCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Comuna</label>
					<input class="form-control" type="text" name="comunaCrearCliente" id="comunaCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divCiudadCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Ciudad</label>
					<input class="form-control" type="text" name="ciudadCrearCliente" id="ciudadCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divRegionCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Región</label>
					<input class="form-control" type="text" name="regionCrearCliente" id="regionCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divPaisCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>País</label>
					<input class="form-control" type="text" name="paisCrearCliente" id="paisCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divFNacCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha nacimiento</label>
					<input class="form-control" type="text" name="fNacCrearCliente" id="fNacCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
				<div id="divEstadoCivilCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado civil</label>
					<select class="form-control custom" type="text" name="estadoCivilCrearCliente" id="estadoCivilCrearCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divNivelEducacionalCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Nivel educacional</label>
					<select class="form-control custom" type="text" name="nivelEducacionalCrearCliente" id="nivelEducacionalCrearCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divCasaHabitacionalCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Casa habitacional</label>
					<select class="form-control custom" type="text" name="casaHabitacionalCrearCliente" id="casaHabitacionalCrearCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divMotivoCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Motivo compra</label>
					<select class="form-control custom" type="text" name="motivoCrearCliente" id="motivoCrearCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divProfesionCrearCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Profesión</label>
					<input class="form-control" type="text" name="profesionCrearCliente" id="profesionCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divInstitucionCrearCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Institución</label>
					<input class="form-control" type="text" name="institucionCrearCliente" id="institucionCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divActividadCrearCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Actividad</label>
					<input class="form-control" type="text" name="actividadCrearCliente" id="actividadCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNacionalidadCrearCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Nacionalidad</label>
					<input class="form-control" type="text" name="nacionalidadCrearCliente" id="nacionalidadCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divResidenciaCrearCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Residencia</label>
					<input class="form-control" type="text" name="residenciaCrearCliente" id="residenciaCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divSexoCrearCliente" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Sexo</label>
					<select class="form-control custom" type="text" name="sexoCrearCliente" id="sexoCrearCliente"  style="margin-bottom: 5pt; width: 100%;">
            <option value="M">M</option>
            <option value="F">F</option>
					</select>
				</div>
        <div id="divFAltaCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha alta</label>
					<input class="form-control" type="text" name="fAltaCrearCliente" id="fAltaCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEstadoCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select class="form-control custom" type="text" name="estadoCrearCliente" id="estadoCrearCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>

        <!-- Datos laborales -->
        <div id="divTituloDatosLaboralesCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
          <font style="font-size: 14pt;">Datos laborales</font>
        </div>
        <div id="divEMRutCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>RUT empresa</label>
					<input class="form-control" type="text" name="EMRutCrearCliente" id="EMRutCrearCliente"  style="margin-bottom: 5pt;" onblur="Rut4();">
  			</div>
        <div id="divEMNombreCrearCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Nombre empresa</label>
					<input class="form-control" type="text" name="EMNombreCrearCliente" id="EMNombreCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMDomicilioCrearCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Domicilio empresa</label>
					<input class="form-control" type="text" name="EMDomicilioCrearCliente" id="EMDomicilioCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMComunaCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Comuna empresa</label>
					<input class="form-control" type="text" name="EMComunaCrearCliente" id="EMComunaCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMCiudadCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Ciudad empresa</label>
					<input class="form-control" type="text" name="EMCiudadCrearCliente" id="EMCiudadCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMPaisCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>País empresa</label>
					<input class="form-control" type="text" name="EMPaisCrearCliente" id="EMPaisCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMFonoCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono empresa</label>
					<input class="form-control" type="text" name="EMFonoCrearCliente" id="EMFonoCrearCliente"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divEMGiroCrearCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Giro empresa</label>
					<input class="form-control" type="text" name="EMGiroCrearCliente" id="EMGiroCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMFIngresoCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha ingreso empresa</label>
					<input class="form-control" type="text" name="EMFIngresoCrearCliente" id="EMFIngresoCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMAntiguedadCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Antiguedad empresa</label>
					<input class="form-control" type="text" name="EMAntiguedadCrearCliente" id="EMAntiguedadCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMCargoCrearCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Cargo empresa</label>
					<input class="form-control" type="text" name="EMCargoCrearCliente" id="EMCargoCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMRentaLiquidaCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Renta líquida empresa</label>
					<input class="form-control" type="text" name="EMRentaLiquidadCrearCliente" id="EMRentaLiquidaCrearCliente"  style="margin-bottom: 5pt;">
  			</div>
        <!-- Observaciones -->
        <div id="divObservacionCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Observación (máximo 2000 carácteres)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="observacionCrearCliente" id="observacionCrearCliente" maxlength="2000"></textarea>
        </div>
			</form>
      </div>
      <!-- Botones -->
      <div id="botonesCrearCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
        <div id="divGuardarCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="guardarCrearCliente" id="guardarCrearCliente"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
        <div id="divLimpiarCrearCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="limpiarCrearCliente" id="limpiarCrearCliente"><i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Limpiar</button>
        </div>
      </div>
		</div>
</div>
