<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div style="margin-top: 50pt;">
		<div id="mainLogged" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div>
				<span class="fa fa-home" style="font-size: 18pt;"></span>
				<font style="color: black; font-size: 18pt">InmoNet</font>
				<br />
				<font style="color: black; font-size: 18pt; margin-top: 100pt;">Gestión Inmobiliaria</font>
			</div>
		</div>
</div>
