<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoContable tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoContable').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonVerUnidadContable").attr("disabled","disabled");
				// $("#buttonPDFCotizaciones").attr("disabled","disabled");
				// $("#buttonEliminarCotizaciones").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonVerUnidadContable").removeAttr("disabled");
				// $("#buttonPDFCotizaciones").removeAttr("disabled");
				// $("#buttonEliminarCotizaciones").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoContable" style="margin-top: 50pt;">
	<div id="mainListadoContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      	<div id="divTituloListadoContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        	<font style="font-size: 15pt; font-weight: bold; text-align:center;">Modulo Contable - Listado de Unidades</font>
	    </div>
    	<div id="divTablaListadoContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%; margin-top: 15pt;">
			<table id="tablaListadoContable" class="display compact" style="height: 100%; width: 100%;">
				<thead>
			    	<tr>
				        <th class="celdaColor" style="border: 1pt solid white;">Proyecto</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Operación</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Depto</th>
				        <th class="celdaColor" style="border: 1pt solid white;">EST</th>
				        <th class="celdaColor" style="border: 1pt solid white;">BOD</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Pie UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Saldo UF</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Banco</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Inversión</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Rut Cliente</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Email</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      	</tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoContable" style="text-align: left;">

			    </tbody>
			</table>
		</div>
      <!-- Botones -->
      	<div>
	        <div id="divListadoContableVerUnidad" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <button style="width: 100%; font-size: 9pt;" id="buttonVerUnidadContable" class="btn btn-primary" disabled>
	            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Ver Unidad
	          </button>
	        </div>
			<div id="divMostrarProyectosContable" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Proyecto:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<select class="form-control custom" type="text" name="mostrarProyectosContable" id="mostrarProyectosContable">

		        </select>
				</div>
	        </div>
			<div id="divMostrarEstadosContable" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Estado:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<select class="form-control custom" type="text" name="mostrarEstadosContable" id="mostrarEstadosContable">

		          	</select>
				</div>
	        </div>
		</div>
    </div>
</div>
