<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="mainListadoContable" style="margin-top: 50pt;">
    <div id="mainUnidadContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 10pt;">
      <div id="divVpCabeceraUnidadContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div id="divVpTituloUnidadContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
          <font style="font-size: 16pt; font-weight: bold;">Modulo Contable -&nbsp;<font id="tituloProyectoContable"></font></font>
        </div>
        <div id="divUnidadContable" style="padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Unidad</font>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Depto:</label>
              <input disabled id="deptoUnidadContable" class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Oper:</label>
              <input id="numeroOperacionContable" disabled class="form-control"></input>
            </div>
            <div id="estacionamientosContable" style="text-align: left; margin-top: 5pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div style="text-align: left; padding-left: 0; padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label>Estac:</label>
              </div>
            </div>
            <div id="bodegasContable" style="text-align: left; margin-top: 5pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div style="text-align: left; padding-left: 0; padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label>Bod:</label>
              </div>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Estado:</label>
              <input id="estadoUnidadContable" disabled class="form-control"></input>
              <input id="codigoProyectoContable" disabled hidden="true">
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <font id="ufDiaUnidadContable"></font>
            </div>
          </div>
          <div id="divClienteContable" style="padding-left: 0; padding-right: 0; padding-bottom: 20px; border-left: 1px solid #c1c1c1;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Cliente</font>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <label>RUT:</label>
              <input disabled id="rutClienteContable" class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <label>Celular:</label>
              <input disabled id="celularClienteContable" class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>Email:</label>
              <input id="emailUnidadContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>Nombres:</label>
              <input id="nombresUnidadContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>Apellidos:</label>
              <input id="apellidosUnidadContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>Banco Operación:</label>
              <input id="bancoContableV" disabled class="form-control"></input>
            </div>
            <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>Tipo Inversión:</label>
              <input id="usoContableV" disabled class="form-control"></input>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
            <div style="text-align: left;margin-top:2pt; padding-left:0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Valor Total Venta UF:</label>
              <input id="totalUFContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left;margin-top:2pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Reserva UF:</label>
              <input id="reservaUFContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left;margin-top:2pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Prom. Cdo UF:</label>
              <input id="promesaContadoUFContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left;margin-top:2pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Prom. Cuotas UF:</label>
              <input id="promesaCuotasUFContable" disabled class="form-control"></input>
            </div>
            <div style="text-align: left;margin-top:2pt; padding-right:0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>Saldo Esc. UF:</label>
              <input id="saldoEscUFContable" disabled class="form-control"></input>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr style="background-color: #c1c1c1; height: 1px; margin-bottom:0; margin-top:15px">
          </div>
      </div>
        <div id="contenedorVPContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="divReservaContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0;">
            <div style="text-align:left; font-size:12pt; margin-top:15pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Reserva</font>&nbsp;<font id="fechaReseservaContable"></font>
            </div>
            <div id="divReservaContableIzquierda" style="padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Tipo Cuota:</label>
                <input disabled id="tipoCuotaReservaContable" class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Monto UF:</label>
                <input id="montoUFReservaContable" disabled class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Monto $:</label>
                <input id="montoReservaContable" disabled class="form-control"></input>
              </div>
            </div>
            <div id="divReservaContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Tipo:</label>
                <input id="tipoPagoReservaContable" disabled class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Banco:</label>
                <input disabled id="bancoReservaContable" class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Serie:</label>
                <input id="serieReservaContable" disabled class="form-control"></input>
              </div>
            </div>
            <div id="divReservaContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div id="divNroDocReservaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Nro Doc:</label>
                <input id="nroReservaContable" disabled class="form-control"></input>
              </div>
              <div id="divFechaReservaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Fecha Doc:</label>
                <input id="fechaPagoReservaContable" disabled class="form-control"></input>
              </div>
              <div id="divEstadoReservaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Estado:</label>
                <select id="estadoPagoReservaContable" class="form-control custom">
                  <option value="NO PAGADO">No pagado</option>
                  <option value="PAGADO">Pagado</option>
                  <option value="CAMBIO DOC – PAGADO">Cambio DOC - Pagado</option>
                  <option value="CAMBIO DOC – NO PAGADO">Cambio DOC - No pagado</option>
                </select>
              </div>
              <div id="divDiferencialReservaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label>Dif:</label>
                <input id="diferencialReservaContable" disabled class="form-control"></input>
              </div>
            </div>
            <!-- <div id="divBotonComentarioReserva" style="margin-top: 10pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <button style="width: 80pt; float:left; padding:0;" class="btn btn-primary" name="comentarioReservaContable" id="comentarioReservaContable"><span class="fa fa-pencil-square-o iconButton"></span>&nbsp;Comentario</button>
            </div> -->
          </div>
          <div id="divPromesaContable" style="padding-left:0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
              <hr style="background-color: #c1c1c1; height: 1px;">
            </div>
            <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Promesa</font>&nbsp;<font id="fechaPromesaContable"></font>
            </div>
            <div id="divPromesaContableIzquierda" style="padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Tipo Cuota:</label>
                <input disabled id="tipoCuotaPromesaContable" class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Monto UF:</label>
                <input id="montoUFPromesaContable" disabled class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label>Monto $:</label>
                <input id="montoPromesaContable" disabled class="form-control"></input>
                </div>
            </div>
            <div id="divPromesaContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo:</label>
                  <input id="tipoPagoPromesaContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Banco:</label>
                  <input disabled id="bancoPromesaContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Serie:</label>
                  <input id="seriePromesaContable" disabled class="form-control"></input>
              </div>
            </div>
            <div id="divPromesaContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label>Nro Doc:</label>
                <input id="nroPromesaContable" disabled class="form-control"></input>
              </div>
              <div id="divFechaPromesaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label>Fecha Doc:</label>
                <input id="fechaPagoPromesaContable" disabled class="form-control"></input>
              </div>
              <div id="divEstadoPromesaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label>Estado:</label>
                  <select id="estadoPagoPromesaContable" class="form-control custom">
                    <option value="NO PAGADO">No Pagado</option>
                    <option value="PAGADO">Pagado</option>
                    <option value="CAMBIO DOC – PAGADO">Cambio DOC - Pagado</option>
                    <option value="CAMBIO DOC – NO PAGADO">Cambio DOC - No pagado</option>
                  </select>
              </div>
              <div id="divDiferencialPromesaContable" style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label>Dif:</label>
                <input id="diferencialPromesaContable" disabled class="form-control"></input>
              </div>
            </div>
            <div id="promesaCuotasContable" style="text-align:left; font-size:12pt; margin-top:5pt; padding-left: 0;padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
            <!-- <div id="divBotonComentarioPromesa" style="margin-top: 10pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
              <button style="width: 80pt; float:left; padding:0;" class="btn btn-primary" name="comentarioPromesaContable" id="comentarioPromesaContable"><span class="fa fa-pencil-square-o iconButton"></span>&nbsp;Comentario</button>
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">
              <hr style="background-color: #c1c1c1; height: 1px;">
            </div>
            <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Total Reserva/Promesa</font>
            </div>
            <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Suma UF:</label>
                <input id="sumaResProUFContable" disabled class="form-control"></input>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Suma $:</label>
                <input id="sumaResProPesoContable" disabled class="form-control"></input>
              </div>
            </div>
            <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
          </div>
          <div id="divEscrituraContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">
              <hr style="background-color: #c1c1c1; height: 1px;">
              </div>
              <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;">Escritura</font>&nbsp;<font id="fechaEscrituraContable"></font>
              </div>
              <div id="divResidualContableIzquierda" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo Cuota:</label>
                  <input disabled id="tipoCuotaResidualContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto UF:</label>
                  <input id="montoUFResidualContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto $:</label>
                  <input id="montoResidualContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divResidualContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo:</label>
                  <input id="tipoPagoResidualContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Banco:</label>
                  <input disabled id="bancoResidualContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Serie:</label>
                  <input id="serieResidualContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divResidualContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Nro Doc:</label>
                  <input id="nroResidualContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Fecha Doc:</label>
                  <input id="fechaPagoResidualContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Estado:</label>
                  <select id="estadoPagoResidualContable" class="form-control custom">
                    <option value="NO PAGADO">No Pagado</option>
                    <option value="PAGADO">Pagado</option>
                    <option value="CAMBIO DOC – PAGADO">Cambio DOC - Pagado</option>
                    <option value="CAMBIO DOC – NO PAGADO">Cambio DOC - No pagado</option>
                  </select>
                </div>
              </div>
              <div id="divEscrituraContableIzquierda" style="padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo Cuota:</label>
                  <input disabled id="tipoCuotaEscrituraContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto UF:</label>
                  <input id="montoUFEscrituraContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto $:</label>
                  <input id="montoEscrituraContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divEscrituraContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo:</label>
                  <input id="tipoPagoEscrituraContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Banco:</label>
                  <input disabled id="bancoEscrituraContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Serie:</label>
                  <input id="serieEscrituraContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divEscrituraContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Nro Doc:</label>
                  <input id="nroEscrituraContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Fecha Doc:</label>
                  <input id="fechaPagoEscrituraContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Estado:</label>
                  <select id="estadoPagoEscrituraContable" class="form-control custom">
                    <option value="NO PAGADO">No pagado</option>
                    <option value="PAGADO">Pagado</option>
                    <option value="CAMBIO DOC – PAGADO">Cambio DOC - Pagado</option>
                    <option value="CAMBIO DOC – NO PAGADO">Cambio DOC - No pagado</option>
                  </select>
                </div>
              </div>

              <!-- <div id="divBotonComentarioEscritura" style="margin-top: 10pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
              <button style="width: 80pt; float:left; padding:0;" class="btn btn-primary" name="comentarioEscrituraContable" id="comentarioEscrituraContable"><span class="fa fa-pencil-square-o iconButton"></span>&nbsp;Comentario</button>
              </div> -->
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
                <hr style="background-color: #c1c1c1; height: 1px;">
              </div>
              <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <font style="font-weight: bold;">Total Valor Residual/Saldo</font>
              </div>
              <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>Suma UF:</label>
                  <input id="sumaResiSalUFContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>Suma $:</label>
                  <input id="sumaResiSalPesoContable" disabled class="form-control"></input>
                </div>
              </div> -->
              <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

              </div>
          </div>
					<div id="divGarantiaContable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">
              <hr style="background-color: #c1c1c1; height: 1px;">
              </div>
              <div style="text-align:left; font-size:12pt; margin-top:5pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <font style="font-weight: bold;" id="tituloGarantia"></font>
              </div>
              <div id="divGarantiaContableIzquierda" style="padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo Cuota:</label>
                  <input disabled id="tipoCuotaGarantiaContable" class="form-control" value="Garantía de Arriendo"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto UF:</label>
                  <input id="montoUFGarantiaContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Monto $:</label>
                  <input id="montoGarantiaContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divGarantiaContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Tipo:</label>
                  <input id="tipoPagoGarantiaContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Banco:</label>
                  <input disabled id="bancoGarantiaContable" class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label>Serie:</label>
                  <input id="serieGarantiaContable" disabled class="form-control"></input>
                </div>
              </div>
              <div id="divGarantiaContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>Nro Doc:</label>
                  <input id="nroGarantiaContable" disabled class="form-control"></input>
                </div>
                <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>Fecha Doc:</label>
                  <input id="fechaPagoGarantiaContable" disabled class="form-control"></input>
                </div>
              </div>
							<div id="divGarantiaVDContableIzquierda" style="padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Tipo Cuota:</label>
							    <input disabled id="tipoCuotaGarantiaVDContable" class="form-control" value="Garantía de Dueño"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Monto UF:</label>
							    <input id="montoUFGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Monto $:</label>
							    <input id="montoGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							</div>
							<div id="divGarantiaVDContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Tipo:</label>
							    <input id="tipoPagoGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Banco:</label>
							    <input disabled id="bancoGarantiaVDContable" class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Serie:</label>
							    <input id="serieGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							</div>
							<div id="divGarantiaVDContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							    <label>Nro Doc:</label>
							    <input id="nroGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							    <label>Fecha Doc:</label>
							    <input id="fechaPagoGarantiaVDContable" disabled class="form-control"></input>
							  </div>
							</div>
							<div id="divGarantiaVCContableIzquierda" style="padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Tipo Cuota:</label>
							    <input disabled id="tipoCuotaGarantiaVCContable" class="form-control" value="Garantía de Cliente"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Monto UF:</label>
							    <input id="montoUFGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Monto $:</label>
							    <input id="montoGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							</div>
							<div id="divGarantiaVCContableCentro" style="padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Tipo:</label>
							    <input id="tipoPagoGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Banco:</label>
							    <input disabled id="bancoGarantiaVCContable" class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							    <label>Serie:</label>
							    <input id="serieGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							</div>
							<div id="divGarantiaVCContableDerecha" style="padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							    <label>Nro Doc:</label>
							    <input id="nroGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							  <div style="text-align: left; margin-top: 5pt;padding-left: 0;padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							    <label>Fecha Doc:</label>
							    <input id="fechaPagoGarantiaVCContable" disabled class="form-control"></input>
							  </div>
							</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="divVpRegresarListadoContable" style="margin-top: 30pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
            <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpRegresarListadoContable" id="vpRegresarListadoContable"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
          </div>
          <div id="divVpGuardarContable" style="margin-top: 30pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
            <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpGuardarContable" id="vpGuardarContable"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar Cambios</button>
          </div>
          <div id="divVpComentariosContable" style="margin-top: 30pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
            <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpComentariosContable" id="vpComentariosContable"><i class="fa fa-comment"></i>&nbsp;&nbsp;Comentarios</button>
          </div>
        </div>
    </div>
  </div>
</div>
